@media (min-width: 768px) {

#application {
  margin: 50px 0 0 220px;
  padding: 20px;
}

.topnav {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3e444d;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}

.topnav a:hover {
  color: white;
}

.topnav-logo {
  margin-left: 15px;
  padding: 5px;
}

.topnav-badger, .topnav-badger:hover {
  color: white;
  font-size: 16pt;
  text-decoration: none;
  padding: 5px;
}

.topnav-space {
  flex-grow: 1;
}

.topnav-search {
  padding: 5px;
  color: #9d9d9d;
  font-size: 14pt;
  text-decoration: none;
  margin-right: 10px;
}

.topnav-account, .topnav-account:hover {
  padding: 5px;
  color: #9d9d9d;
  font-size: 14pt;
  text-decoration: none;
  margin-right: 10px;
}

.topnav-logout, .topnav-logout:hover {
  padding: 5px;
  color: #9d9d9d;
  font-size: 16pt;
  text-decoration: none;
  margin-right: 15px;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.sidenav-entry {
  display: flex;
  width: 100%;
  line-height: 40px;
}

.sidenav-entry div {
  width: 0;
  background-color: #286090;
}

.sidenav-entry a {
  width: 100%;
  display: block;
  color: #555;
  font-size: 11pt;
  font-family: "Arial";
  padding-left: 20px;
}

.sidenav-entry a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.sidenav-space {
  margin-bottom: 20px;
}

}
