body {
  background-color: white;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 82px;
}
