<div class="welcome mx-auto mt-2 mt-md-4 px-2">
  <div class="description text-dark mb-2">Badger is a study tool based on flashcards</div>
  <div class="author text-secondary mb-4 mb-md-5">
    Created by <a href="https://github.com/haueck" target="_blank" class="text-secondary">Rafał Kozik</a>
  </div>
  <nav>
    <div class="nav nav-tabs">
      <a class="nav-item nav-link px-2 px-md-3 active" :data-toggle="working ? 'none' : 'tab'" href="#nav-sign-in">Sign in</a>
      <a class="nav-item nav-link px-2 px-md-3" :data-toggle="working ? 'none' : 'tab'" href="#nav-sign-up">Sign up</a>
      <a class="nav-item nav-link px-2 px-md-3" :data-toggle="working ? 'none' : 'tab'" href="#nav-password">Forgot password?</a>
    </div>
  </nav>
  <div class="tab-content">
    <div class="tab-pane fade show active border-left border-right p-3" id="nav-sign-in">
      <form @submit="validate($event, '/sign-in')" novalidate>
        <div class="form-group mb-3">
          <div>E-mail</div>
          <input type="email" name="email" class="form-control" placeholder="E-mail" required/>
          <div class="invalid-feedback">Please enter a correct e-mail address.</div>
        </div>
        <div class="form-group mb-3">
          <div>Password</div>
          <input type="password" name="password" class="form-control" placeholder="Password" required/>
          <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" :disabled="working">Sign in</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade border-left border-right p-3" id="nav-sign-up">
      <form @submit="validate($event, '/sign-up')" novalidate>
        <input type="hidden" name="timezone" v-model="timezone"/>
        <div class="form-group mb-3">
          <div>Firstname</div>
          <input type="text" name="firstname" class="form-control" placeholder="Firstname" required/>
          <div class="invalid-feedback">Please enter your firstname.</div>
        </div>
        <div class="form-group mb-3">
          <div>Lastname</div>
          <input type="text" name="lastname" class="form-control" placeholder="Lastname" required/>
          <div class="invalid-feedback">Please enter your lastname.</div>
        </div>
        <div class="form-group mb-3">
          <div>E-mail</div>
          <input type="email" name="email" class="form-control" placeholder="E-mail" required/>
          <div class="invalid-feedback">Please enter a correct e-mail address.</div>
        </div>
        <div class="form-group mb-3">
          <div>Password</div>
          <input type="password" name="password" class="form-control" placeholder="Password" required/>
          <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" name="terms" class="form-check-input" id="terms" required>
          <label class="form-check-label" for="terms">I agree to the <router-link to="/terms">Terms of Service</router-link></label>
          <div class="invalid-feedback">You must agree before submitting.</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" :disabled="working">Sign up</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade border-left border-right p-3" id="nav-password">
      <form @submit="validate($event, '/reset-password-link')" novalidate>
        <div class="form-group mb-3">
          <div>E-mail</div>
          <input type="email" name="email" class="form-control" placeholder="E-mail" required/>
          <div class="invalid-feedback">Please enter a correct e-mail address.</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" :disabled="working">Send a reset link</button>
        </div>
      </form>
    </div>
    <div class="border-bottom border-left border-right status-box">
      <div class="pl-3 pb-3" v-if="working">
        <span class="spinner-border spinner-border-sm"></span> Please wait...
      </div>
      <div class="pl-3 pb-3" v-else-if="invalidCredentials">Incorrect email or password</div>
      <div class="pl-3 pb-3" v-else-if="emailExists">Email already exists</div>
      <div class="pl-3 pb-3" v-else-if="error">There was a problem</div>
      <div class="pl-3 pb-3" v-else-if="linkSent">Reset link has been sent</div>
    </div>
  </div>
</div>
