<div>
  <div class="input-group search mx-auto">
    <input class="form-control" placeholder="Search..." v-model="query" v-on:keyup.enter="search()" @input="update" ref="search">
    <div class="input-group-append">
      <button class="input-group-text" @click="search()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div v-for="card in results" class="result pb-2 mt-4">
    <div class="card-actions mb-2">
      <div>
        <router-link :to="'/edit/' + card['CardId']" tag="button" class="btn btn-primary">
          <i class="fas fa-pen"></i> Edit
        </router-link>
      </div>
      <div v-if="revisions.length" class="ml-3">
        <select class="custom-select" @change="changeRevision(card['CardId'], $event.target.value)">
          <option value="">Add to a revision</option>
          <option v-for="revision in revisions" :value="revision" :selected="revision == card['Revision']">{{ revision }}</option>
        </select>
      </div>
      <div class="ml-3 py-2">
        Schedule for:
      </div>
      <div class="ml-1">
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="mb-2">
      Tags: {{ card['Tags'].join(', ') }}
    </div>
    <english v-if="card['Type'] == 'English'" :card="card"></english>
    <question v-else-if="card['Type'] == 'Question'" :card="card"></question>
    <reminder v-else-if="card['Type'] == 'Reminder'" :card="card"></reminder>
    <multiplechoice v-else-if="card['Type'] == 'MultipleChoice'" :card="card"></multiplechoice>
    <div v-else>Missing</div>
  </div>
  <div v-if="empty" class="mt-4 text-center">There are no cards matching your query</div>
  <ul v-if="pages &gt; 1" class="pagination mt-4">
    <li v-for="p in pages" class="page-item" :class="{ active: p == page }" @click="changePage(p)">
      <span class="page-link">{{ p }}</span>
    </li>
  </ul>
</div>
