a, a:hover {
  color: black;
}
.todos .list-group-item:not(.empty) {
  padding: 0;
  display: flex;
  align-items: center;
}
.todos .far {
  padding: 17px;
  cursor: pointer;
}
.todos .fa-check-circle {
  color: green;
}
.list-group-item + .empty {
  display: none;
}
