<div>
  <modal :title="'Add to your to-do list'" id="modal-todo-add">
    <form novalidate>
      <div class="form-group p-4 mb-0">
        <textarea v-model="todo" class="form-control" rows="4" required></textarea>
      </div>
    </form>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="create">Add</button>
      <button type="button" class="btn btn-primary" @click="scheduleModal">Schedule</button>
    </template>
  </modal>
  <calendar id="modal-todo-calendar"></calendar>
  <div class="card todos">
    <div class="card-header">
      <router-link to="/todos">Things to do</router-link>
      <button type="button" class="btn btn-outline-primary btn-sm ml-3" @click="createModal('')">Add</button>
    </div>
    <div class="list-group list-group-flush">
      <div v-for="todo in todos" class="list-group-item">
        <div @click="finished(todo['TodoId'], $event.target)" class="far fa-circle"></div>
        <div>{{ todo['Text'] }}</div>
      </div>
      <div class="list-group-item text-center empty">Nothing to see here</div>
    </div>
  </div>
</div>
