<div class="mx-auto mt-md-2 mb-1 p-2" :style="{ 'max-width': width + 'px' }">
  <div v-if="currentComponent">
    <div class="mb-2">
      <button v-for="tag in card['Tags']" type="button" class="btn btn-outline-primary btn-sm mr-2" disabled>{{ tag }}</button>
    </div>
    <component :is="currentComponent" :card="card"></component>
    <div v-if="card['Graded']" class="progress mt-3">
      <div :class="[ progress == 100 ? 'bg-success' : 'bg-primary' ]" class="progress-bar"></div>
    </div>
    <div v-if="card['Graded']" class="mt-4">
      <button @click="$bus.$emit('GetNextCard')" class="btn btn-primary mr-2" ref="next">Next one!</button>
      <router-link :to="'/edit/' + id" tag="button" class="btn btn-outline-primary">
        <i class="fas fa-pen"></i> Edit
      </router-link>
    </div>
  </div>
  <div v-if="done">Nothing to learn</div>
</div>
