.english-root {
  max-width: 700px;
}
.ipa {
  display: flex;
  flex-direction: row;
  margin: auto 10px;
}
.ipa div {
  color: #6c757d;
  text-align: center;
  width: 30px;
  height: 30px;
}
.ipa div:hover {
  color: #f8f9fa;
  cursor: pointer;
  background-color: #6c757d;
}
.related-word {
  display: flex;
  flex-direction: row;
}
.related-word div {
  flex-grow: 1;
}
.related-word div:nth-child(1), .related-word div:nth-child(2) {
  padding-right: 10px;
}
.auxiliary {
  display: flex;
  flex-direction: row;
}
.auxiliary label {
  padding: 5px 10px;
  margin: 0;
}
