.root {
  max-width: 700px;
  margin: 0 auto;
}
.header {
  font-size: 16pt;
}
.card {
  border-left-width: 0;
}
.task {
  display: flex;
  padding: 0;
  align-items: center;
}
.task div:first-child {
  width: 4px;
  height: 50px;
  margin-right: 15px;
}
.task div:last-child {
  flex: 1;
  text-align: right;
  padding-right: 15px;
}
.task:first-child div:first-child {
  border-top-left-radius: .25rem;
}
.task:last-child div:first-child {
  border-bottom-left-radius: .25rem;
}
.task div:nth-child(2) {
  cursor: pointer;
}
.task div:nth-child(2):hover {
  text-decoration: underline;
}
