<div class="root">
  <modal :title="'Create a new project'" id="modal-project-create">
    <form @submit="createProject($event)" novalidate class="p-4">
      <div class="form-group mb-3">
        <div>Project name</div>
        <input type="text" v-model="forms.project.name" class="form-control" placeholder="Project name" required>
      </div>
      <div class="form-group mb-3">
        <div>Priority</div>
        <select v-model="forms.project.priority" class="form-control">
          <option value="3">High</option>
          <option value="2">Medium</option>
          <option value="1">Low</option>
        </select>
      </div>
      <div class="form-group">
        <div>Color</div>
        <input type="color" v-model="forms.project.color" class="form-control">
      </div>
    </form>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="createProject($event)">Create</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </template>
  </modal>
  <modal :title="'Edit the project'" id="modal-project-edit">
    <form @submit="updateProject($event)" novalidate class="p-4">
      <div class="form-group mb-3">
        <div>Project name</div>
        <input type="text" v-model="forms.project.name" class="form-control" required>
      </div>
      <div class="form-group mb-3">
        <div>Priority</div>
        <select v-model="forms.project.priority" class="form-control">
          <option value="3">High</option>
          <option value="2">Medium</option>
          <option value="1">Low</option>
        </select>
      </div>
      <div class="form-group">
        <div>Color</div>
        <input type="color" v-model="forms.project.color" class="form-control">
      </div>
      <div v-if="!forms.project.active" class="form-group mb-3">
        <div>Status</div>
        <select v-model="forms.project.status" class="form-control">
          <option value="Active">Active</option>
          <option value="Idle">Idle</option>
        </select>
      </div>
    </form>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="updateProject($event)">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" @click="removeProject">Remove</button>
    </template>
  </modal>
  <modal :title="'Create a new task'" id="modal-task-create">
    <form @submit="createTask($event)" novalidate class="p-4">
      <div class="form-group mb-3">
        <div>Task name</div>
        <input type="text" v-model="forms.task.name" class="form-control" placeholder="Task name" required>
      </div>
      <div class="form-group mb-3">
        <div>Description</div>
        <textarea v-model="forms.task.description" class="form-control" rows="6"></textarea>
      </div>
    </form>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="createTask($event)">Create</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </template>
  </modal>
  <modal :title="'Edit the task'" id="modal-task-edit">
    <form @submit="editTask($event)" novalidate class="p-4">
      <div class="form-group mb-3">
        <div>Task name</div>
        <input type="text" v-model="forms.task.name" class="form-control" required>
      </div>
      <div class="form-group mb-3">
        <div>Description</div>
        <textarea v-model="forms.task.description" class="form-control" rows="6"></textarea>
      </div>
    </form>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="editTask($event)">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" @click="removeTask">Remove</button>
    </template>
  </modal>
  <div class="sprint mb-4" v-if="pending || sprint.length">
    <div class="header mb-3">
      <span>Current sprint</span>
      <button type="button" class="btn btn-outline-primary btn-sm ml-3" v-if="finished" @click="completeSprint()">Complete the sprint</button>
    </div>
    <div class="card" :class="{ empty: sprint.length == 0 }"">
      <div class="card-body text-center">Click [ Add ] button to add tasks to the sprint</div>
      <draggable v-model="sortable" class="list-group list-group-flush">
        <div v-for="task in sortable" class="list-group-item task">
          <div :style="{ 'background-color': task['Color'] }"></div>
          <div @click="editTaskModal(task['TaskId'])">{{ task['Name'] }}</div>
          <div>
            <button type="button" @click="cancel(task['TaskId'])" class="btn btn-outline-secondary btn-sm">Cancel</button>
          </div>
        </div>
      </draggable>
    </div>
  </div>
  <div class="projects mb-4">
    <div v-for="project in projects" class="project mb-4">
      <div class="header mb-3">
        <span @click="editProjectModal(project['ProjectId'])">{{ project["Name"] }}</span>
        <button type="button" class="btn btn-outline-primary btn-sm ml-3" @click="createTaskModal(project['ProjectId'])">Create a task</button>
      </div>
      <div class="card" :class="{ empty: project['Sorted'].length == 0 }"">
        <div class="card-body text-center">Nothing to see here</div>
        <div :class="[ 'list-group', 'list-group-flush', project['Status'].toLowerCase() ]">
          <div v-for="task in project['Sorted']" :class="[ 'list-group-item', 'task', task['Status'].toLowerCase() ]">
            <div :style="{ 'background-color': project['Color'] }"></div>
            <div @click="editTaskModal(task['TaskId'])">{{ task['Name'] }}</div>
            <div>
              <button type="button" @click="schedule(task['TaskId'])" class="btn btn-outline-success btn-sm">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 text-right">
      <span v-if="!full && populated && (hidden || archived)" @click="fullList()" class="mr-3 text-primary full">Show full list of projects and tasks</span>
      <button class="btn btn-primary" @click="createProjectModal">Create a project</button>
    </div>
  </div>
</div>
