.tag-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag-name, .tag-children {
  cursor: pointer;
  font-size: 12pt;
  line-height: 1.5;
}
.tag-name {
  flex-grow: 1;
}
.tag-children {
  width: 20%;
  text-align: center;
}
.tag-name:hover, .tag-children:hover {
  background-color: #eaebec;
}
.nav-link {
  cursor: pointer;
}
.nav-link:not(.active):hover {
  color: white;
  background-color: #6c757d;
}
