<div>
  <div class="modal tag-pick" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select a tag</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
          </button>
        </div>
        <div class="modal-body">
          <div v-for="(name, index) in tags[tag]['Children']" v-if="!tags[name]['Inactive']" :class="{ 'border-top': index != 0 }" class="tag-select">
            <div class="tag-name" @click="addTags(name)" data-dismiss="modal">{{ name }}</div>
            <div v-if="tags[name]['Children'].length" class="tag-children fas fa-chevron-right" @click=setParent(name)></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="showCreate()">Create a new tag</button>
          <button type="button" class="btn btn-secondary" v-if="tag != '€'" @click=back>Back</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal tag-create" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a new tag</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span class="fas fa-times"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-inline">
            <label class="text-secondary">{{ path }}</label>
            <input type="text" class="form-control" pattern="[0-9A-Za-z ]+" required/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="pick.modal()">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="renameTag(current)">Change parent</button>
          <button type="button" class="btn btn-primary" @click="createTag()">Create</button>
        </div>
      </div>
    </div>
  </div>
  <select v-model="card['Type']" class="form-control card-selection">
    <option disabled value="None">Select type</option>
    <option>English</option>
    <option>Question</option>
    <option>Reminder</option>
    <option>Multiple choice</option>
    <option>Word</option>
  </select>
  <!--<div v-if="card['Type'] != 'None'" class="tags">-->
  <div class="tags">
    <div v-for="tag in card['Tags']" class="btn-group">
      <button type="button" class="btn btn-info" disabled>{{ tag }}</button>
      <button type="button" class="btn btn-info" @click="removeTag(tag)">
        <span class="fas fa-times"></span>
      </button>
    </div>
    <button type="button" class="btn btn-primary" @click="showTags">Add a tag</button>
  </div>
  <english v-if="card['Type'] == 'English'" :card="card"></english>
  <question v-else-if="card['Type'] == 'Question'" :card="card"></question>
</div>
