<div class="container" v-if="populated">
  <modal :title="'Edit'" id="modal-todo-edit">
    <form novalidate>
      <div class="form-group p-4 mb-0">
        <textarea v-model="todo.text" class="form-control" rows="4" required></textarea>
      </div>
    </form>
    <template v-slot:footer>
      <button type="button" class="btn btn-primary" @click="update">Update</button>
      <button type="button" class="btn btn-danger" @click="remove">Remove</button>
    </template>
  </modal>
  <calendar id="modal-todo-edit-date"></calendar>
  <div class="header">Things to do now</div>
  <div class="list-group">
    <div v-for="todo in todos" v-if="todo['Status'] == 'Started'" class="list-group-item">
      <div class="todo" @click="editModal(todo)">{{ todo['Text'] }}</div>
      <div class="buttons"></div>
    </div>
    <div class="list-group-item text-center empty">Nothing to see here</div>
  </div>
  <div class="header">Things to do later</div>
  <div class="list-group">
    <div v-for="todo in todos" v-if="todo['Status'] == 'Scheduled'" class="list-group-item">
      <div class="todo" @click="editModal(todo)">{{ todo['Text'] }}</div>
      <div class="buttons">
        <button type="button" class="btn btn-outline-primary btn-sm" @click="dateModal(todo['TodoId'])">{{ todo['Date'] }}</button>
      </div>
    </div>
    <div class="list-group-item text-center empty">Nothing to see here</div>
  </div>
  <div class="header">Finished</div>
  <div class="list-group">
    <div v-for="todo in todos" v-if="todo['Status'] == 'Finished'" class="list-group-item">{{ todo['Text'] }}</div>
    <div class="list-group-item text-center empty">Nothing to see here</div>
  </div>
</div>
