.root {
  max-width: 700px;
}
.list-group-item {
  display: flex;
}
.list-group-item:hover {
  background-color: #f5f6f7;
}
.todo {
  cursor: pointer;
}
.todo:hover {
  text-decoration: underline;
}
.buttons {
  flex: 1;
  text-align: right;
}
