<div>
   <tinymce id="tinymce" v-model="card['Question']">{{ card['Question'] }}</tinymce>
   <div class="answers">
     <draggable v-if="dragging" v-model="trash" group="answers" class="trash">
       <i class="fas fa-trash-alt"></i>
     </draggable>
     <draggable v-model="card['Answers']" handle=".input-group-append" group="answers" @start="onStart" @end="onEnd" :move="onMove" class="inputs">
       <div v-for="(answer, index) in card['Answers']" class="answer">
         Answer<span class="answer-index"> ({{index + 1}})</span>:<br>
         <div class="input-group">
           <input class="form-control" v-model="answer['Value']" ref="answer">
           <div class="input-group-append">
             <span class="input-group-text"><i class="fas fa-bars"></i></span>
           </div>
         </div>
       </div>
     </draggable>
   </div>
   <div v-bind:class="{ 'order-invisible': card['Answers'].length == 1 }">
     <label>
       <input type="checkbox" v-model="card['Unordered']"> Order of answers is not important
     </label>
   </div>
   <div>
     <button class="btn btn-secondary" v-on:click="addAnswer()">Add answer</button>
   </div>
   <div class="explanation">
     Explanation:<br>
     <textarea rows="3" class="form-control" v-model="card['Explanation']"></textarea>
   </div>
   <div>
     <input type="checkbox"> Don't parse
   </div>
   <alternatives></alternatives>
</div>
