.explanation {
  width: 400px;
}
.inputs {
  width: 100%;
}
.answers {
  display: flex;
  align-items: stretch;
  width: 400px;
}
.trash i {
  background-color: #ffe6e6;
  text-align: center;
  width: 100px;
}
.trash div {
  display: none !important;
}
.answer .input-group-append {
  cursor: grab;
}
.answer:only-child .answer-index {
  display: none;
}
.answer:only-child .input-group-append {
  display: none;
}
.order-invisible {
  display: none;
}
