<div>
  <div v-html="card['Question']"></div>
  <div v-if="card['Unordered']">
    <strong>The order of answers is not important.</strong>
  </div>
  <div>
    <div v-for="(answer, index) in answers" class="answer">
      <div>Answer<span class="answer-index"> {{index + 1}}</span>:</div>
      <div class="answer-input">
        <input type="text" v-on:keyup.enter="verify($event)" :class="'form-control answer-' + (verified ? feedback[index]['Pass'] : 'not-verified')" v-model="answers[index]" ref="answer">
      </div>
      <div v-if="verified">
        <img v-if="feedback[index]['Pass']" src="/images/correct.png">
        <img v-else src="/images/wrong.png">
        <span v-if="!feedback[index]['Pass']">Expected: {{ feedback[index]['Expected'] }}</span>
        <span v-else-if="feedback[index]['Possible'].length">Possible: {{ feedback[index]['Possible'].join(', ') }}</span>
      </div>
    </div>
  </div>
  <button v-if="!verified" v-on:click="verify()" class="btn btn-default check-button">Check</button>
  <div v-if="verified" class="feedback">
    <strong v-if="pass">That's right! You rock!</strong>
    <strong v-else>Wrong!</strong>
  </div>
</div>
