.answer {
  display: flex;
  align-items: center;
}
.answer-input {
  margin: 5px 10px;
  width: 300px;
}
.answer:only-child .answer-index {
  display: none;
}
.answer-true {
  border-color: green;
}
.answer-false {
  border-color: red;
}
.check-button {
  margin: 10px 0;
}
.feedback {
  margin: 15px 0;
}
