.feedback {
  display: none;
  font-size: 10pt;
}
.graded .wrong .negative {
  display: block;
}
.graded .correct .optional {
  display: block;
}
.negative {
  color: red;
}
.answers {
  max-width: 500px;
}
.answer:only-child .answer-index {
  display: none;
}
.graded .correct input {
  border-color: green;
}
.graded .wrong input {
  border-color: red;
}
