.root {
  max-width: 700px;
}
.revision {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.revision:hover {
  background-color: #f8f9fa;
}
#modal-revision-menu .modal-body > div {
  cursor: pointer;
}
#modal-revision-menu .modal-body > div:hover {
  background-color: #f8f9fa;
}
