.revisions {
  width: 500px;
  margin: 0 auto;
}
.revision {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.revision:hover {
  background-color: #f8f9fa;
}
.revision + .revision {
  border-top-width: 0 !important;
}
#modal-revision-menu .modal-body > div {
  cursor: pointer;
}
#modal-revision-menu .modal-body > div:hover {
  background-color: #f8f9fa;
}
