<div>
  <div>
    Question:<br/>
    <textarea rows="3" class="form-control" v-model="card['Question']"></textarea>
  </div>
  <div>
    Type:<br/>
    <select class="form-control" v-model="card['Variation']">
      <option value="SingleResponse" selected>One correct</option>
      <option value="MultipleResponse">Zero or more correct</option>
    </select>
  </div>
  <table>
    <tr>
      <td>Correct</td>
      <td>Answer</td>
      <td></td>
    </tr>
    <tr v-for="(answer, index) in card['Answers']">
      <td>
        <input type="checkbox" v-model="answer['Correct']">
      </td>
      <td>
        <input type="text" v-model="answer['Answer']" ref="answer">
      </td>
      <td>
        <i class="fas fa-trash" @click="removeAnswer(index)"></i>
      </td>
    </tr>
  </table>
  <div>
    <button class="btn btn-outline-secondary" @click="addAnswer">Add an answer</button>
  </div>
</div>
