<div>
  <p class="help">
    You can only use slash / and brackets () in this field in the way that is explained below.
  </p>
  <p class="help">
    You can use / to separate <strong>alternative parts</strong> in a sentence.<br/>
    In this riddle<br/>
    <i>stick up for sb/oneself/sth</i><br/>
    These three answers are correct:<br/>
    <i>stick up for sb</i><br/>
    <i>stick up for oneself</i><br/>
    <i>stick up for sth</i><br/>
  </p>
  <p class="help">
    You may use brackets to <strong>group words</strong><br/>
    <i>bend on sth/(doing sth)</i><br/>
    Correct answers:<br/>
    <i>bend on sth</i><br/>
    <i>bend on doing sth</i>
  </p>
  <p class="help">
    Brackets are also used to indicate <strong>optional parts</strong><br/>
    <i>bludgeon sb into (doing) sth</i><br/>
    Correct answers:<br/>
    <i>bludgeon sb into sth</i><br/>
    <i>bludgeon sb into doing sth</i>
  </p>
  <p class="help" style="margin-bottom: 0">
    Complex example with brackets and slashes<br/>
    <i>conjure sth up/((up) from/(out of) sth)</i><br/>
    Correct answers:<br/>
    <i>conjure sth up</i><br/>
    <i>conjure sth from sth</i><br/>
    <i>conjure sth up from sth</i><br/>
    <i>conjure sth out of sth</i><br/>
    <i>conjure sth up out of sth</i>
  </p>
</div>
