<div>
  <modal :closing="true" :title="'Edit the task'" id="modal-task-edit">
    <div class="p-4">
      <div class="form-group mb-3">
        <div>Task name</div>
        <input type="text" v-model="forms.name" class="form-control" @keyup.enter="editTask" required>
      </div>
      <div class="form-group mb-3">
        <div>Description</div>
        <textarea v-model="forms.description" class="form-control" rows="6"></textarea>
      </div>
    </div>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" @click="editTask">Save</button>
    </template>
  </modal>
  <div v-if="!initialized"></div>
  <div v-else-if="tasks.length == 0" class="text-center">Add tasks to the sprint in the Planning tab</div>
  <div v-else class="row">
    <div class="col-sm px-1">
      <div class="header text-secondary mb-2">TO DO</div>
      <task v-for="task in tasks" v-if="task['Status'] == 'Ready'" :task="task">
        <button type="button" @click="start(task['TaskId'])">
          <i class="fas fa-angle-right"></i>
        </button>
      </task>
    </div>
    <div class="col-sm px-1">
      <div class="header text-secondary mb-2">DOING</div>
      <task v-for="task in tasks" v-if="task['Status'] == 'Started'" :task="task">
        <button type="button" @click="cancel(task['TaskId'])">
          <i class="fas fa-angle-left"></i>
        </button>
        <button type="button" @click="done(task['TaskId'])">
          <i class="fas fa-check"></i>
        </button>
      </task>
    </div>
    <div class="col-sm px-1">
      <div class="header text-secondary mb-2">DONE</div>
      <task v-for="task in tasks" v-if="task['Status'] == 'Finished'" :task="task">
        <button type="button" @click="undo(task['TaskId'])">
          <i class="fas fa-angle-left"></i>
        </button>
      </task>
    </div>
  </div>
</div>
