<div class="card">
  <div class="card-body">
    <div v-if="success" class="py-3">
      Your password has been successfully changed.
      <a class="btn btn-primary ml-2" href="/" role="button">Sign in</a>
    </div>
    <form v-else @submit="validate($event)" novalidate>
      <input type="hidden" name="token" :value="$route.params.token">
      <div class="form-group mb-3">
        <div>Password</div>
        <input type="password" name="password" class="form-control" placeholder="New password" required/>
        <div class="invalid-feedback">Please enter a password.</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </form>
    <div v-if="error">There was an error</div>
    <div v-if="working">
      <span class="spinner-border spinner-border-sm"></span> Please wait...
    </div>
  </div>
</div>
