<div>
  <!--Progress: 2 out of 10
      Correct answers: 7 (last on 2018-11-15 07:23:03)-->
  <question v-if="card['Type'] === 'Question'" v-bind:card="card" v-bind:verified="verified"></question>
  <english v-else-if="card['Type'] === 'English'" v-bind:card="card" v-bind:verified="verified">></english>
  <div v-else>Waiting...</div>
  <button v-if="verified" v-on:click="$bus.$emit('GetNextCard')" class="btn btn-primary" ref="next">Next one!</button>
  <!-- Edit button and schedule dropdown if correct and correct count > 4 -->
</div>
