<div>
  <div class="form-group mb-2">
    <div>Word:</div>
    <div class="input-group">
      <input type="text" class="form-control" v-model="card['Word']" @blur="updateExamples()"/>
      <div class="input-group-append" data-toggle="collapse" data-target="#help">
        <button class="btn btn-outline-secondary"><i class="fas fa-info-circle"></i></button>
      </div>
    </div>
  </div>
  <div class="collapse" id="help">
    <alternatives :help="'english'"></alternatives>
  </div>
  <div class="form-group mb-2">
    <div>Part of speech:</div>
    <select class="custom-select" v-model="card['PartOfSpeech']">
      <option>Noun</option>
      <option>Verb</option>
      <option>Adjective</option>
      <option>Adverb</option>
      <option>Preposition</option>
      <option>Pronoun</option>
      <option>Conjunction</option>
      <option>Interjection</option>
      <option>Prefix</option>
      <option>Suffix</option>
    </select>
  </div>
  <div class="form-group mb-2">
    <div>Pronunciation:</div>
    <div class="input-group">
      <input type="text" class="form-control" v-model="card['Pronunciation']"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">IPA</button>
        <div class="dropdown-menu">
          <div class="ipa">
            <div @click="ipa">ʒ</div>
            <div @click="ipa">ŋ</div>
            <div @click="ipa">ʃ</div>
            <div @click="ipa">θ</div>
            <div @click="ipa">ð</div>
          </div>
          <div class="ipa">
            <div @click="ipa">æ</div>
            <div @click="ipa">ɪ</div>
            <div @click="ipa">ɛ</div>
            <div @click="ipa">ɜ</div>
            <div @click="ipa">ə</div>
          </div>
          <div class="ipa">
            <div @click="ipa">ʊ</div>
            <div @click="ipa">ʌ</div>
            <div @click="ipa">ː</div>
            <div @click="ipa">ɒ</div>
            <div @click="ipa">ɔ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mb-2">
    <div>Use of prepositions:</div>
    <input type="text" class="form-control" v-model="card['UseOfPrepositions']"/>
  </div>
  <div class="form-group mb-2">
    <div>Definition:</div>
    <textarea rows="3" class="form-control" v-model="card['Definition']"></textarea>
  </div>
  <div v-for="(example, index) in examples" class="form-group mb-2">
    <div>Example:</div>
    <textarea rows="3" class="form-control" v-model="examples[index]" ref="example" @blur="replaceExample(index)" @focus="restoreExample(index)" placeholder="Leave empty to ignore"></textarea>
  </div>
  <div class="my-3">
    <button class="btn btn-outline-secondary" @click="addExample">Add an example</button>
  </div>
  <div v-for="(related, index) in card['Related']" class="d-md-flex">
    <div class="form-group mb-2 mr-md-2">
      <div>Related word:</div>
      <input class="form-control" v-model="related['Word']" ref="related" @blur="relatedChanged(index)" placeholder="Leave empty to ignore"/>
    </div>
    <div class="form-group mb-2 mr-md-2">
      <div>Description:</div>
      <input class="form-control" v-model="related['Description']"/>
    </div>
    <div class="form-group mb-2">
      <div>While learning:</div>
      <select class="custom-select" v-model="related['Visibility']" @change="updateExamples()">
        <option value="Hide">Show after giving an answer</option>
        <option value="Show">Visible all the time</option>
      </select>
    </div>
  </div>
  <div class="my-3">
    <button class="btn btn-outline-secondary" @click="addRelated">Add a related word</button>
  </div>
  <div class="auxiliary mb-2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ak1" v-model="card['PhrasalVerb']">
      <label class="custom-control-label" for="ak1">Phrasal verb</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ak4" v-model="card['Idiom']">
      <label class="custom-control-label" for="ak4">Idiom</label>
    </div>
  </div>
  <div class="auxiliary mb-2">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ak2" v-model="card['Formal']">
      <label class="custom-control-label" for="ak2">Formal</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ak5" v-model="card['Informal']">
      <label class="custom-control-label" for="ak5">Informal</label>
    </div>
  </div>
  <div class="auxiliary">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ak3" v-model="card['Approval']">
      <label class="custom-control-label" for="ak3">Approval</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="ak6" v-model="card['Derogatory']">
      <label class="custom-control-label" for="ak6">Derogatory</label>
    </div>
  </div>
</div>
