<div>
  <div>Part of speech: {{ card['PartOfSpeech'].toLowerCase() }}</div>
  <div>Definition: <i>{{ grammar }}</i> <strong>{{ card['UseOfPrepositions'] }}</strong> {{ card['Definition'] }}</div>
  <div v-for="example in card['DisguisedExamples']">Example: <i>{{ example }}</i></div>
  <div v-for="related in card['Related']" v-if="related['Visibility'] == 'Show'">
    <span v-if="related['Description'].length">{{ related['Description'] }}:</span>
    <span v-else>Related word:</span>
    <i>{{ related['Word'] }}</i>
  </div>
  <div>
    Answer:<br/>
    <input type="text" class="form-control" v-on:keyup.enter="grade()" v-model="answer" ref="answer" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/>
  </div>
  <div v-if="card['Graded']">
    <p v-if="card['Pass']">That's right! You rock!</p>
    <p v-else>Wrong!</p>
    <p><strong>{{ card['Word'] }}</strong> /{{ card['Pronunciation'] }}/</p>
    <div v-if="complex">
      <p v-for="phrase in correct" class="correct">Correct: {{ phrase }}</p>
      <p v-for="phrase in wrong" class="wrong">Wrong: {{ phrase }}</p>
      <p v-for="phrase in possible">Possible answer: {{ phrase }}</p>
    </div>
    <p v-for="example in card['Examples']">Example: <i>{{ example }}</i></p>
    <p v-for="related in card['Related']" v-if="related['Visibility'] == 'Hide'">
      <span v-if="related['Description'].length">{{ related['Description'] }}:</span>
      <span v-else>Related word:</span>
      <i>{{ related['Word'] }}</i>
    </p>
  </div>
  <button v-else @click="grade" class="btn btn-primary">Check</button>
</div>
