<div>
  <div class="mb-2"><i>({{ grammar }})</i> <strong>{{ card['UseOfPrepositions'] }}</strong> {{ card['Definition'] }}</div>
  <div class="mb-2" v-for="example in examples"><i>{{ example }}</i></div>
  <div v-for="related in card['Related']" v-if="card['Graded'] || related['Visibility'] == 'Show'" class="mb-2">
    <span>Related word: {{ related['Word'] }}</span>
    <span v-if="related['Description'].length">- {{ related['Description'] }}</span>
  </div>
  <div>
    <input type="text" class="form-control my-3" @keyup.enter="grade()" v-model="answer" ref="answer" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/>
  </div>
  <div v-if="card['Graded']">
    <div class="mb-2">
      <strong v-if="card['Pass']">That's right! You rock!</strong>
      <strong v-else>Wrong!</strong>
    </div>
    <div class="mb-2">
      <strong>{{ card['Word'] }}</strong> /{{ card['Pronunciation'] }}/
    </div>
    <div v-if="complex">
      <div v-if="correct.length" class="mb-2 text-success">Correct: {{ correct.join(', ') }}</div>
      <div v-if="wrong.length" class="mb-2 text-danger">Wrong: {{ wrong.join(', ') }}</div>
      <div v-if="possible.length" class="mb-2">Possible: {{ possible.join(', ') }}</div>
    </div>
  </div>
  <button v-else @click="grade" class="btn btn-primary">Check</button>
</div>
