<div>
  <modal :closing="true" :title="current" id="modal-tag-menu">
    <div class="p-3" data-dismiss="modal" @click="showCards(current)">Show cards with this tag</div>
    <div class="p-3 border-top" data-dismiss="modal" @click="revisionsModal()">Add cards with this tag to a revision</div>
    <div class="p-3 border-top" data-dismiss="modal" @click="disableCards(current)">Disable all cards with this tag</div>
    <div class="p-3 border-top" data-dismiss="modal" @click="enableCards(current)">Enable all cards with this tag</div>
    <div class="p-3 border-top" data-dismiss="modal" @click="renameModal()">Change the name of this tag</div>
    <div class="p-3 border-top" data-dismiss="modal" @click="confirmRemove(current)">Remove this tag</div>
    <div class="p-3 border-top" data-dismiss="modal" @click="toggleInactive(current)" v-if="!inactive">
      Make this tag
      <span v-if="tags[current].Inactive">active again</span>
      <span v-else>inactive</span>
    </div>
  </modal>
  <modal :closing="true" :title="'Rename ' + current" id="modal-tag-rename">
    <div class="p-3">
      <input type="text" class="form-control" @keyup.enter="renameTag(current)" pattern="^[^~\*\/\[\]\.]+$" :value="current" required/>
      <div class="invalid-feedback">The name must not be empty and must not contain .~*/[]</div>
    </div>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" @click="renameTag(current)">Rename</button>
    </template>
  </modal>
  <modal :closing="true" :title="'Remove ' + current" id="modal-tag-remove">
    <div class="p-3">This will remove the tag <strong>{{ current }}</strong> from all {{ count }} cards. Continue?</div>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" @click="removeTag(current)">Remove</button>
    </template>
  </modal>
  <modal :closing="true" :title="'Add ' + current + ' to a revision'" id="modal-tag-revision">
    <div v-if="revisions.length" class="p-3">
      <select class="form-control" id="select-revision">
        <option v-for="revision in revisions">{{ revision }}</option>
      </select>
    </div>
    <div v-else class="p-3">Create a revision first.</div>
    <template v-slot:footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button v-if="revisions.length" type="button" class="btn btn-primary" data-dismiss="modal" @click="addToRevision(current)">Add</button>
    </template>
  </modal>
  <div v-if="tags['€'].Children.length == 0">No tags</div>
  <div v-else class="border-bottom tags">
    <tree v-for="(child, index) in tags['€']['Children']" :tags="tags" :tag="child" :depth="1" :key="index"></tree>
  </div>
</div>
