.root {
  max-width: 700px;
}
#modal-tag-menu .modal-body > div {
  cursor: pointer;
}
#modal-tag-menu .modal-body > div:hover {
  background-color: #f5f6f7;
}
.tag {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.name {
  flex: 1;
}
